* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    word-spacing: 3px;
}

:root {
    --main-color: #f36100;
    --sec-color: #ffffff;
    --back-color: rgb(255, 255, 255 , .2);
    --main-transition: .3s;
    --section-paddibg: 70px 0;
}

.fst-title {
    color: var(--main-color);
    font-size: 17px;
    margin-bottom: 10px;
    text-align: center;
}

.sec-title {
    font-size: 30px;
    color: var(--sec-color);
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: black;
}

header h1 a {
    color: var(--sec-color);
    font-size: 40px;
    font-weight: bold;
}

header h1 a span {
    color: var(--main-color);
}

header h1 a i {
    color: var(--main-color);
}

header ul li {
    display: inline-block;
    margin: 0 15px;
}

header ul a {
    color: var(--sec-color);
    transition: var(--main-transition);
}

header .links li:nth-of-type(6) a {
    color: var(--main-color);
}

header ul a:hover {
    color: var(--main-color);
}

@media (max-width:1010px) {
    header h1 a {
        font-size: 30px;
    }

    header ul li {
        margin: 0 10px;
    }
}

@media (max-width:868px) {
    header h1 a {
        font-size: 25px;
    }

    header ul li {
        margin: 0 5px;
    }
}

@media (max-width:754px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 a {
        font-size: 30px;
        margin-bottom: 10px;
    }

    header ul li {
        margin: 0 5px;
    }

    header ul li a {
        font-size: 15px;
    }

    header ul:nth-of-type(2) {
        display: none;
    }
}

@media (max-width:600px) {
    header h1 a {
        font-size: 25px;
    }

    header ul li a {
        font-size: 11px;
    }

    header ul li {
        margin: 0 2px;
    }
}
/* end header */

.container {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.team-img {
    text-align: center;
    min-height: 60vh;
    background-image: url("../imgs/bar1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-img h1 {
    color: var(--sec-color);
    font-size: 45px;
}

.team-img h1 span {
    color: var(--main-color);
}

/* end photo  */

.contact-us {
    background-color: black;
    padding: var(--section-paddibg);
}

.contact-us form {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

form .input {
    display: block;
    width: 100%;
    border: none;
    padding: 0 10px;
    border-bottom: 1px var(--main-color) solid;
    margin-bottom: 10px;
    height: 45px;
    background-color: var(--back-color);
    color: #c4c4c4;
}

form textarea {
    height: 100px !important;  
    resize: none;
    padding-top: 10px !important;
}

form .input:focus {
    outline: none;
}

form [type="submit"] {
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
    font-size: 17px;
}

/* end contact us  */

footer {
    display: flex;
    flex-wrap: wrap;
    /* min-height: 50vh; */
    padding: 10px 0 20px 0;
    background-color: #1e1e1e;
}

footer .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    margin-bottom: 70px;
}

.contact .location {
    min-width: 250px;
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 10px;
    color: var(--sec-color);
}

.contact .location .loc-icon {
    margin-right: 10px;
    font-size: 25px;
}

.contact .location .loc-icon i {
    background-color: var(--main-color);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

footer .links {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 20px;
}

.details .logo a {
    color: var(--sec-color);
    font-size: 40px;
    font-weight: bold;
}

footer .details .logo {
    margin-bottom: 20px;
}

.details .logo a span {
    color: var(--main-color);
}

.details .logo a i {
    color: var(--main-color);
}

footer .links p {
    color: #c4c4c4;
}

footer .links .my-accounts li {
    display: inline-block;
    margin: 20px 10px 0 0;
}

footer .links .my-accounts li a {
    color: #c4c4c4;
    font-size: 19px;
}

footer .links .sup {
    text-align: center;
    color: var(--sec-color);
    font-size: 35px;
}

footer .links .support-links li {
    text-align: center;
    line-height: 30px;
}

footer .links .support-links li a {
    color: #c4c4c4;
}

footer .links p a {
    color: var(--main-color);
    transition: var(--main-transition);
}

footer .links p a:hover {
    text-decoration: underline;
}

.copy {
    align-self: center;
}